VITE_SINGLE_STATE_URL="https://citystats.xyz/states/1"
VITE_SINGLE_STATE_URL_2="https://citystats.xyz/states/2"
VITE_SINGLE_STATE_FIELD="https://citystats.xyz/states/1/government"
VITE_SINGLE_STATE_SUBFIELD="https://citystats.xyz/states/1/government/senators"
VITE_SINGLE_STATE_QUERY="https://citystats.xyz/states/1/government/house_delegates/1"
VITE_SINGLE_STATE_REGEX="^https:\/\/citystats\.xyz\/states\/(?:\d{1,2}|[a-zA-Z_]+)$"
VITE_SINGLE_STATE_FIELD_REGEX="^https:\/\/citystats\.xyz\/states\/(?:\d{1,2}|[a-zA-Z_]+)\/[a-zA-Z_]+$"
VITE_SINGLE_STATE_SUBFIELD_REGEX="^https:\/\/citystats\.xyz\/states\/(?:\d{1,2}|[a-zA-Z_]+)\/[a-zA-Z_]+\/[a-zA-Z_]+$"
VITE_SINGLE_STATE_QUERY_REGEX="^https:\/\/citystats\.xyz\/states\/(?:\d{1,2}|[a-zA-Z_]+)\/[a-zA-Z_]+\/[a-zA-Z_]+\/\d{1,2}$"
