/**********************
 * UTILITY CLASSES
 *********************/
/* simple wrapper around flex with gap */
.flex {
    display: flex;
    gap: var(--gap, 1em);
}

/*  https://kittygiraudel.com/snippets/sr-only-class/
 *  https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
 *  sr-only special class designed to hide 
 *  from sighted users, but not from screen readers */
.sr-only:not(:focus):not(:active) {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/**********************
 * PRIMARY HEADER
 *********************/
.primary-header {
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}

.head-icon {
    width: 3rem;
    height: 3rem;
}
.mobile-nav-toggle {
    display: none;
}
.primary-navigation {
    width: 20rem;
    flex-direction: column;
    list-style: none;
    position: fixed;
    height: 100vh;
    padding-left: 1rem;
    margin-top: 3.5em;
    background: var(--offwhite);
    border-right: 2px solid var(--offblack);
}

.primary-navigation > a:hover {
    font-weight: 700;
    text-decoration-thickness: 0.125rem;
}

.primary-navigation a > [aria-hidden='true'] {
    font-weight: 700;
    margin-inline-end: 0.5em;
}

.nav-menu-title,
.nav-link {
    font-family: 'Raleway', 'Helvetica', system-ui;
    color: var(--offblack);
}

.nav-home-link-text {
    font-family: 'Raleway', 'Helvetica', system-ui;
    color: var(--offwhite);
    text-decoration: none;
    position: absolute;
    margin-top: 0.4em;
    left: 6em;
}

h2.nav-menu-title {
    font-size: initial;
    font-weight: initial;
    border-bottom: none;
    margin-top: -0.25em;
    margin-left: -15em;
}

.api-list {
    list-style: none;
    margin-top: -2em;
    margin-left: -1em;
}
.api-list-item {
    margin: 1.5em auto;
}
.nav-home-link-text[data-toggled='true'] {
    color: #272822; /* Odd bug, won't load css var offwhite */
}

.nav-home-link-text:hover {
    text-decoration: underline;
}

.toggle-link[data-toggled='true'] {
    color: var(--offblack);
}

.toggle-link[data-toggled='false'] {
    color: var(--custom-grey);
}

.icons[data-toggled='true'] {
    filter: invert(90%) sepia(200%) brightness(110%) contrast(90%);
}

#states-api-toggle {
    margin-top: -2.6em;
    margin-left: 2.2em;
}
#cities-api-toggle {
    margin-top: -4.5em;
    margin-left: 10.2em;
}

.nav-bg {
    display: block;
    position: fixed;
    width: 100%;
    height: 4.25em;
    top: 0;
    left: 0;
    background-color: var(--offblack);
    padding-inline: 0 96vw;
    z-index: 9999;
}
.nav-home-link {
    left: 1.5vw;
    position: fixed;
    margin-top: 0.8em;
    height: 3.25em;
    width: 3.25em;
    background-position: center;
    background: url('../assets/icons/building.svg');
    background-repeat: no-repeat;
}
.nav-home-link:hover {
    scale: 1.125;
}
button.dark-light-toggle {
    margin-top: 0.65em;
    z-index: 9999;
}
button.dark-light-toggle:hover {
    scale: 1.125;
}
button.dark-light-toggle[data-toggled='false'] {
    left: 97vw;
    position: fixed;
    height: 3.25em;
    aspect-ratio: 1;
    background-position: center;
    background: url('../assets/icons/moon.svg');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    top: 0.825em;
}

button.dark-light-toggle[data-toggled='true'] {
    left: 97vw;
    position: fixed;
    top: 0.65em;
    height: 3.25em;
    aspect-ratio: 1;
    background-position: center;
    background: url('../assets/icons/sun.svg');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.primary-navigation[data-visible='true'] {
    transform: translateX(0%);
}

.mobile-nav-toggle:hover {
    cursor: pointer;
}

.switch {
    position: relative;
    width: 50px;
    height: 20px;
    left: 6.25em;
    bottom: 0.5em;
}
.slider:focus {
    outline: 2px solid #007bff;
}
.switch input[type='checkbox'] {
    visibility: hidden;
}

.slider {
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--offblack);
    transition: 0.4s;
    border: 2px solid var(--offblack);
    border-radius: 10px;
}

.slider:before {
    position: absolute;
    content: '';
    width: 14px;
    aspect-ratio: 1;
    left: 2px;
    bottom: 1.25px;
    background-color: var(--offwhite);
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: --var(--offblack);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--offblack);
}

input:checked + .slider:before {
    transform: translateX(28px);
}

/*********************
 * MEDIA QUERIES
*********************/
/* Tablet & Mobile */
@media (max-width: 50em) {
    .primary-header {
        margin: 0;
    }
    .primary-navigation {
        overflow-x: hidden;
        position: fixed;
        z-index: 1000;
        flex-direction: column;
        top: 3em;
        left: 0;
        height: 100%;
        width: 35%;
        padding: min(5vh, 10rem) 2em;
        overflow-y: scroll;
        transform: translateX(-100%);
        transition: transform 350ms ease-out;
        border-right: none;
        margin-top: 0;
    }
    #cities-api-toggle {
        margin-top: -3.9em;
    }
    .nav-bg {
        border-radius: 0 0 5px 5px;
        height: 3.25em;
        width: 98vw;
        left: 0.5rem;
    }
    .nav-home-link {
        left: 46vw;
        margin-top: 0.4em;
    }
    .nav-home-link-text {
        display: none;
    }
    button.dark-light-toggle {
        margin-top: 0;
    }
    button.dark-light-toggle[data-toggled='false'] {
        left: 93vw;
    }
    button.dark-light-toggle[data-toggled='true'] {
        left: 92vw;
    }
    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 9999;
        background: url('../assets/icons/hamburger.svg');
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 0.5rem;
        left: 1.2rem;
    }
    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url('../assets/icons/close.svg');
    }
    .mobile-nav-toggle:hover {
        cursor: pointer;
    }
    h2.nav-menu-title {
        margin-left: -14em;
    }
}

/* Mobile Only */
@media (max-width: 35em) {
    .primary-navigation {
        padding-left: 0;
        width: 80%;
    }
    .nav-menu-title,
    .page-nav {
        margin-top: 1em;
    }
    .nav-home-link {
        left: 44.75vw;
    }
    .nav-bg {
        width: 96vw;
        left: 0.5rem;
    }
    #cities-api-toggle {
        margin-top: -2.4em;
        margin-left: 10.5em;
    }
    button.dark-light-toggle[data-toggled='false'] {
        left: 87vw;
    }
    button.dark-light-toggle[data-toggled='true'] {
        left: 86vw;
    }
    h2.nav-menu-title {
        margin-top: 1em;
        margin-left: -2.75em;
    }
    .api-list {
        margin-top: -1em;
    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .primary-navigation a > span[aria-hidden] {
        display: none;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3re, 8vw, 10rem);
    }
}
