/* TODO: Change font weights based off of firefox vs chromium browsers */
:root {
    --splashoffwhite: #fdf6e3;
    --splashoffblack: #272822;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.container[data-citystats-theme='true'] {
    background-color: rgba(253, 246, 227, 0.5);
}

.container {
    margin: 0 auto;
    width: 75rem;
    text-align: center;
    margin-top: 20vh;
    background-color: rgba(39, 40, 34, 0.7);
    border-radius: 5px;
    padding: 2em;
}

h1.title[data-citystats-theme='true'] {
    color: var(--splashoffblack);
}

h1.title {
    border: none;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 500%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--splashoffwhite);
    min-width: 0;
}

span.subtitle[data-citystats-theme='true'] {
    color: var(--splashoffblack);
}

span.subtitle {
    font-weight: 900;
    font-family: 'Raleway';
    font-size: 200%;
    color: var(--splashoffwhite);
}

.link[data-citystats-theme='true'] {
    color: var(--splashoffblack);
}

.link {
    margin-top: 1em;
    font-weight: 900;
    font-family: 'Raleway';
    font-size: 140%;
    display: block;
    color: var(--splashoffwhite);
}

.home-hero[data-citystats-theme='true'] {
    background-image: url('../assets/img/chicago_at_night_01.jpg');
}

.home-hero {
    background-image: url('../assets/img/midtown_manhattan_panorama_01.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    padding: 10em 0;
    color: var(--splashoffblack);
}

h2.splash-h2 {
    margin: 1rem auto;
    margin-top: 3rem;
    font-size: 200%;
}

p.splash-p {
    margin: 0 auto;
    margin-top: 1em;
    font-size: 100%;
    width: 40rem;
}

.inline-link {
    color: var(--splashoffblack);
}

.inline-link[data-citystats-theme='true'] {
    color: var(--splashoffwhite);
}
/* Mobile Only */
@media (max-width: 35em) {
    .container {
        margin: 0 0.5rem;
        margin-top: 10vh;
        width: 96vw;
    }
    h1.title {
        font-size: 400%;
    }
    span.subtitle {
        font-size: 160%;
    }

    p.splash-p {
        text-align: center;
        width: 20rem;
    }
}
