/*********************
 DEFAULT STYLINGS
*********************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* chromium styling of scrollbar */
*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--offblack);
    border-radius: 20px;
    border: 3px solid var(--offblack);
}

:root {
    /* TODO: uncomment in production */
    /* color-scheme: light dark; */
    --offblack: #272822;
    --offwhite: #fdf6e3;
    --custom-grey: #737373;
    --box-shadow: #3c3c39;
}

:root[data-citystats-theme='true'] {
    --offblack: #fdf6e3;
    --offwhite: #272822;
    --custom-grey: #b9b9b9;
}

html {
    scroll-behavior: smooth;
    /* mozilla firefox styling of scrollbar */
    scrollbar-color: var(--offblack) var(--offwhite);
    background-color: var(--offwhite);
}

.content {
    font-family: 'Raleway', 'Helvetica', system-ui;
    font-size: 1.125rem;
    line-height: 1.5;
}

main {
    width: min(70ch, 100% - 70vw);
    margin-inline: auto;
    margin-top: 4.25em;
}
.main-h1 {
    margin-top: 5rem;
}
h1,
h2,
h3,
h4 {
    font-family: 'Raleway', 'Helvetica', system-ui;
    color: var(--offblack);
}

h1,
h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 45rem;
}
h1 {
    font-weight: 900;
    font-size: 175%;
    border-top: 2px solid var(--offblack);
}
h2 {
    font-size: 90%;
    font-weight: 900;
    border-bottom: 2px solid var(--offblack);
    margin-top: -1.5em;
}
h3 {
    font-size: 140%;
}
h4 {
    font-size: 110%;
    font-weight: 900;
    text-decoration: underline;
}
.page-title {
    font-family: 'Raleway', 'Helvetica', system-ui;
    font-weight: 900;
    color: var(--offblack);
    margin-bottom: -3rem;
}

.section-divider {
    height: 2.75em;
    margin-top: -3rem;
}

.form-label {
    font-family: 'Raleway', 'Helvetica', system-ui;
    font-size: 90%;
    font-weight: 900;
    color: var(--offblack);
}

.url-input {
    font-family: 'Arial', system-ui;
    font-size: 95%;
    font-weight: 400;
    width: 80vw;
    max-width: 47em;
    background-color: var(--offwhite);
    color: var(--offblack);
    border: 1.75px solid var(--offblack);
    border-radius: 3px;
    padding: 0.25em;
}

p {
    font-family: 'Raleway', 'Arial', system-ui;
    color: var(--offblack);
    line-height: 1.85;
    width: 80vw;
    max-width: 70ch;
    font-size: 95%;
    font-weight: 600;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}
/**********************
* CODE TABS
**********************/
.code-block-set {
    margin-top: 1.5em;
    margin-bottom: 2em;
    width: 90vw;
    max-width: 45rem;
}
.tabbed-set {
    height: 3em;
    /* TODO: Bring in custom monospace font */
    font-family: 'monospace';
    font-size: 75%;
    font-weight: 500;
    margin: 0.25rem auto -2.2em -0.15em;
}
input.stv-radio-tab {
    position: fixed;
    left: -99999em;
    top: -99999em;
}
input.stv-radio-tab:focus + .tabbed-set-label {
    outline: 2px solid #007bff;
}
input.stv-radio-tab[data-focused='true'] + label {
    background-color: var(--offblack);
    color: var(--offwhite);
    font-weight: 700;
    color: var(--offwhite);
}

input.stv-radio-tab[data-visible='true'] + label {
    background-color: var(--offblack);
    color: var(--offwhite);
}

input.stv-radio-tab[data-no-border='true'] + label {
    outline: none;
}

label.tabbed-set-label {
    user-select: none;
    cursor: pointer;
    outline: 1px solid var(--offblack);
    background-color: var(--offwhite);
    color: var(--offblack);
    border-bottom: 0;
    border-radius: 1px 1px 1px 0px;
    margin: 0 3px;
    padding: 0 1em;
}
.api-list {
    margin-top: 1em;
    font-size: 90%;
    list-style-type: none;
    color: var(--offblack);
}
/**********************
* PRISMJS CODE BLOCKS
**********************/
pre {
    height: 20em;
    overflow-y: scroll;
    width: 100%;
    border: 1px solid var(--offblack);
    border-radius: 0px 5px 5px 5px !important;
}
code.prism-code {
    display: block;
    font-size: 75% !important;
    font-weight: 900;
}
pre[data-visible='true'] {
    overflow-x: hidden;
    overflow-y: hidden;
}
/* inputs */
/* TODO: Further styling of input fields */
input {
    width: 80vw;
    max-width: 54em;
}
/*********************
 * MEDIA QUERIES
*********************/
/* Tablet & Mobile */
@media (max-width: 50em) {
    main {
        width: min(70ch, 100% - 4rem);
        margin-inline: auto;
        margin-right: 1.5rem;
    }
    .main-h1 {
        margin-top: 0;
    }
    .content {
        margin-right: 1.5rem;
    }
    .content[data-visible='true'] {
        filter: blur(0.125em);
    }
    pre.prism-pre[data-visible='true'] {
        pointer-events: none;
    }
    code.prism-code[data-visible='true'] {
        filter: blur(0.125em);
    }
    h1,
    h2 {
        width: 85vw;
    }
    h1[data-visible='true'] {
        border-top: 2px solid rgba(0, 0, 0, 0.4);
        filter: blur(0.125em);
    }
    h2[data-visible='true'] {
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
        filter: blur(0.125em);
    }
    .page-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .form-label {
        margin-top: 1em;
        margin-left: -0.75em;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .url-input {
        width: 83vw;
    }
    .code-block-set {
        margin-left: 1rem;
        width: 83vw;
    }
    h4 {
        text-align: center;
    }
    p {
        margin-left: 1rem;
    }
}

/* Mobile Only */
@media (max-width: 35em) {
    *:not(code) {
        overflow-x: hidden;
    }
    .form-label {
        margin-top: -0.25rem;
        margin-left: 0.0125em;
    }
    main {
        margin-right: 2.5rem;
        overflow-x: hidden;
    }
    .content {
        margin-right: -0.75rem;
    }
    .url-input {
        width: 82vw;
    }
    .code-block-set {
        width: 82vw;
        margin: 1em auto;
    }
    h4 {
        margin-bottom: 0.75em;
    }
    p {
        margin-left: auto;
        width: 82vw;
    }
}

/*********************
 * FONT FAMILIES
*********************/
@font-face {
    font-family: 'Raleway';
    src: url('../src/assets/fonts/raleway/Raleway-Regular.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*********************
 * ANIMATIONS
*********************/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}
