/*********************
 DEFAULT STYLINGS
*********************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* chromium styling of scrollbar */
*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--offblack);
    border-radius: 20px;
    border: 3px solid var(--offblack);
}

:root {
    /* TODO: uncomment in production */
    /* color-scheme: light dark; */
    --offblack: #272822;
    --offwhite: #fdf6e3;
    --custom-grey: #737373;
    --box-shadow: #3c3c39;
}

:root[data-citystats-theme='true'] {
    --offblack: #fdf6e3;
    --offwhite: #272822;
    --custom-grey: #b9b9b9;
}

html {
    scroll-behavior: smooth;
    /* mozilla firefox styling of scrollbar */
    scrollbar-color: var(--offblack) var(--offwhite);
    background-color: var(--offwhite);
}

.content {
    font-family: 'Vegur', 'Helvetica', system-ui;
    font-size: 1.125rem;
    line-height: 1.5;
}

main {
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}

h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Zikketica', 'Helvetica', system-ui;
    font-weight: 900;
    color: var(--offblack);
    border-top: 2px solid var(--offblack);
}
h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Vegur', 'Helvetica', system-ui;
    font-size: 90%;
    font-weight: 900;
    color: var(--offblack);
    border-bottom: 2px solid var(--offblack);
    margin-top: -1.5em;
}

.page-title {
    font-family: 'Vegur', 'Arial', system-ui;
    font-weight: 900;
    color: var(--offblack);
}

.form-label {
    font-family: 'Vegur', 'Arial', system-ui;
    font-size: 90%;
    font-weight: 900;
    color: var(--offblack);
}

.url-input {
    font-family: 'Arial', system-ui;
    font-size: 95%;
    font-weight: 400;
    width: 80vw;
    max-width: 47em;
    background-color: var(--offwhite);
    color: var(--offblack);
    border: 1.75px solid var(--offblack);
    border-radius: 3px;
    padding: 0.25em;
}

p {
    font-family: 'Vegur', 'Arial', system-ui;
    color: var(--offblack);
    line-height: 1.85;
    width: 80vw;
    max-width: 68ch;
    font-size: 95%;
    font-weight: 900;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}
/**********************
* CODE TABS
**********************/
.code-block-set {
    margin-top: 1.5em;
    margin-bottom: 2em;
}
.tabbed-set {
    height: 3em;
    /* TODO: Bring in custom monospace font */
    font-family: 'monospace';
    font-size: 75%;
    font-weight: 500;
    margin: 0.25rem auto -2.2em -0.15em;
}
input.stv-radio-tab {
    position: absolute;
    left: -99999em;
    top: -99999em;
}
input.stv-radio-tab[data-focused='true'] + label {
    background-color: var(--offblack);
    color: var(--offwhite);
    font-weight: 700;
    color: var(--offwhite);
}

input.stv-radio-tab[data-visible='true'] + label {
    background-color: var(--offblack);
    color: var(--offwhite);
    filter: blur(0.125em);
}

input.stv-radio-tab[data-no-border='true'] + label {
    outline: none;
}

label.tabbed-set-label {
    user-select: none;
    cursor: pointer;
    outline: 1px solid var(--offblack);
    background-color: var(--offwhite);
    color: var(--offblack);
    border-bottom: 0;
    border-radius: 1px 1px 1px 0px;
    margin: 0 3px;
    padding: 0 1em;
}
/**********************
* PRISMJS
**********************/
pre {
    height: 20em;
    overflow-y: scroll;
    width: 100%;
    border: 1px solid var(--offblack);
    border-radius: 0px 5px 5px 5px !important;
}
code.prism-code {
    display: block;
    font-size: 75% !important;
    font-weight: 900;
}
pre[data-visible='true'] {
    overflow-x: hidden;
    overflow-y: hidden;
}
code.prism-code[data-visible='true'] {
    filter: blur(0.125em);
}

/* inputs */
/* TODO: Further styling of input fields */
input {
    width: 80vw;
    max-width: 54em;
}
/*********************
 * MEDIA QUERIES
*********************/
@media (max-width: 35em) {
    main {
        margin-top: 3.25em;
    }
    .content[data-visible='true'] {
        filter: blur(0.125em);
    }

    pre.prism-pre[data-visible='true'] {
        pointer-events: none;
    }

    code.prism-code[data-visible='true'] {
        filter: blur(0.125em);
    }

    h1[data-visible='true'] {
        border-top: 2px solid rgba(0, 0, 0, 0.4);
        filter: blur(0.125em);
    }
    h2[data-visible='true'] {
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
        filter: blur(0.125em);
    }
    .page-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .form-label {
        margin-top: 1em;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*********************
 * FONT FAMILIES
*********************/
@font-face {
    font-family: 'Vegur';
    src: url('../src/assets/fonts/vegur/VegurRegular-YE48.otf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zikketica';
    src: url('../src/assets/fonts/zikketica/Zikketica-nD7V.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}
