/* TODO: Convert all colors to hsl, rgb, or hex... */
/* utility class */

/* simple wrapper around flex with gap */
.flex {
    display: flex;
    gap: var(--gap, 1em);
}

/*  https://kittygiraudel.com/snippets/sr-only-class/
 *  https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
 *  sr-only special class designed to hide 
 *  from sighted users, but not from screen readers */
.sr-only:not(:focus):not(:active) {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/* primary header */

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}
.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > [aria-hidden='true'] {
    font-weight: 700;
    margin-inline-end: 0.5em;
}

@media (max-width: 35em) {
    .primary-navigation {
        /* border: 2px solid black; */
        position: fixed;
        z-index: 1000;
        flex-direction: column;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        padding: min(30vh, 10rem) 2em;
        overflow-y: scroll;
        transform: translateX(-100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible='true'] {
        transform: translateX(-5%);
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 9999;
        background: url('../assets/icons/hamburger.svg');
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 1rem;
        left: 2rem;
        transform: translateX(-40%);
        transition: transform 350ms ease-out;
    }

    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url('../assets/icons/close.svg');
        transform: translateX(700%);
    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .primary-navigation a > span[aria-hidden] {
        display: none;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        /* padding-block only affects top/bottom */
        padding-block: 2rem;
        padding-inline: clamp(3re, 8vw, 10rem);
    }
}
