/* TODO: Convert all lors to hsl, rgb, or hex... */

/**********************
 * UTILITY CLASSES
 *********************/
/* simple wrapper around flex with gap */
.flex {
    display: flex;
    gap: var(--gap, 1em);
}

/*  https://kittygiraudel.com/snippets/sr-only-class/
 *  https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
 *  sr-only special class designed to hide 
 *  from sighted users, but not from screen readers */
.sr-only:not(:focus):not(:active) {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/**********************
 * PRIMARY HEADER
 *********************/
.primary-header {
    align-items: center;
    justify-content: space-between;
}
.nav-bg {
    display: none;
}

.head-icon {
    width: 3rem;
    height: 3rem;
}
.mobile-nav-toggle {
    display: none;
}
.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    border-bottom: 2px solid black;
}

.primary-navigation > a:hover {
    font-weight: bold;
    text-decoration-thickness: 0.125rem;
}

.primary-navigation a > [aria-hidden='true'] {
    font-weight: 700;
    margin-inline-end: 0.5em;
}
/* TODO: Restyle font for nav-links */

.nav-menu-title,
.nav-link {
    font-family: 'Zikketica', system-ui;
    color: black;
}

.toggle-link[data-toggled='true'] {
    color: black;
}

.toggle-link[data-toggled='false'] {
    color: grey;
}

.nav-menu-title,
.page-nav {
    margin-top: 1em;
}

#states-api-toggle {
    margin-top: -2.6em;
    margin-left: 2.2em;
}

#cities-api-toggle {
    margin-top: -2.2em;
    margin-left: 10.2em;
}

/*********************
 * MEDIA QUERIES
*********************/
@media (max-width: 35em) {
    .primary-navigation {
        position: fixed;
        z-index: 1000;
        flex-direction: column;
        top: 3.3em;
        left: 0;
        height: 100%;
        width: 80%;
        padding: min(5vh, 10rem) 2em;
        overflow-y: scroll;
        transform: translateX(-100%);
        transition: transform 350ms ease-out;
    }
    .nav-bg {
        display: block;
        position: fixed;
        height: 3.25em;
        top: 0;
        background: url('../assets/icons/building.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
        border-radius: 0 0 5px 5px;
        padding-inline: 0 96vw;
    }

    .primary-navigation[data-visible='true'] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 9999;
        background: url('../assets/icons/hamburger.svg');
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 0.5rem;
        left: 1.2rem;
    }

    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url('../assets/icons/close.svg');
    }

    .switch {
        position: relative;
        width: 50px;
        height: 20px;
        left: 6.25em;
        bottom: 0.5em;
    }

    .slider {
        position: absolute;
        z-index: 9999;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        transition: 0.4s;
        border: 2px solid black;
        border-radius: 10px;
    }

    .slider:before {
        position: absolute;
        content: '';
        width: 14px;
        aspect-ratio: 1;
        left: 2px;
        bottom: 1.25px;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
    }

    input:checked + .slider {
        background-color: black;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px black;
    }

    input:checked + .slider:before {
        transform: translateX(28px);
    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .primary-navigation a > span[aria-hidden] {
        display: none;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3re, 8vw, 10rem);
    }
}
