/*********************
 DEFAULT STYLINGS
*********************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* chromium styling of scrollbar */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
    border: 3px solid #000;
}

:root {
    /* TODO: uncomment in production */
    /* color-scheme: light dark; */
    /* mozilla firefox styling of scrollbar */
    scrollbar-color: #000 #fff;
}

html {
    scroll-behavior: smooth;
}

.content {
    font-family: 'Vegur', 'Helvetica', system-ui;
    font-size: 1.125rem;
    line-height: 1.5;
}

main {
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}

h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Zikketica', 'Helvetica', system-ui;
    font-weight: 900;
    border-top: 2px solid black;
}
h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Vegur', 'Helvetica', system-ui;
    font-size: 90%;
    font-weight: 900;
    border-bottom: 2px solid black;
    margin-top: -1.5em;
}

p {
    font-family: 'Vegur', 'Arial', system-ui;
    font-size: 90%;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}
/**********************
* PRISMJS
**********************/
code.language-json {
    display: block;
    font-size: 85%;
}
pre[data-visible='true'] {
    box-shadow: 0 0 2px 2px #3c3c39;
}
code.language-json[data-visible='true'] {
    border-radius: 5px;
    box-shadow: 0 0 6.25em 6.25em #3c3c39;
    background-color: #3c3c39;
    filter: blur(0.125em);
}

/*********************
 * MEDIA QUERIES
*********************/
@media (max-width: 35em) {
    main {
        margin-top: 3.25em;
    }
    .content[data-visible='true'] {
        color: transparent;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    }
    h1[data-visible='true'] {
        border-top: 2px solid rgba(0, 0, 0, 0.4);
    }
    h2[data-visible='true'] {
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    }
}

/*********************
 * FONT FAMILIES
*********************/
@font-face {
    font-family: 'Vegur';
    src: url('../src/assets/fonts/vegur/VegurRegular-YE48.otf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zikketica';
    src: url('../src/assets/fonts/zikketica/Zikketica-nD7V.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}
