*,
*::before,
*::after {
    box-sizing: border-box;
}

/* chromium styling of scrollbar */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
    border: 3px solid #000;
}

:root {
    /* color-scheme: light dark; */
    /* mozilla firefox styling of scrollbar */
    scrollbar-color: #000 #fff;
}

.content {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.5;
}

main {
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}

h1 {
    font-family: 'Zikketica', system-ui;
    font-weight: 900;
}

p {
    font-family: 'Vegur', system-ui;
    font-size: 90%;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

/* Media Queries */
@media (max-width: 35em) {
    main {
        margin-top: 3em;
    }
}

/* Imported Font Families */
@font-face {
    font-family: 'Vegur';
    src: url('../src/assets/fonts/vegur/VegurRegular-YE48.otf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zikketica';
    src: url('../src/assets/fonts/zikketica/Zikketica-nD7V.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}
